.innertimeline-wrapper{
    margin: 0 20px;
    width: 80%;
}
.savedata-button{
    width: fit-content;
    color: #3B5998;
    border: 1px solid #3B5998;
    background-color: #ffffff;
    padding: 5px 20px;
  }
  .submitdata-button{
    width: fit-content;
    color: white;
    padding: 7px 40px;
  }
.items-tab {
    padding-bottom: 3%;
    font-size: 14px;
    font-weight: 500;
    color: #3B5998;
    cursor: pointer;
    border-bottom: 1px solid #3B5998 ;
}
.ghantt-tab {
    padding-bottom: 3%;
    cursor: pointer;
    color: #666666;
    font-size: 14px;
    font-weight: 500;
}

.add-item{
    width: 5vw;
}
.search-icon{
    width: 1vw;
}
.items-wrapper{
    padding: 10px 30px;
}
.down-arrow-icon{
    right: 32px; 
    top: 8px;
    
}
.down-arrow-date-icon{
    right: 32px; 
    top: 10px;
}
.width-3{
    width: 3%;
}
.width-12{
    width: 12%;
}
.hash-icon{
    width: 25%;
    display:none
}
.minus-icon{
    display:none;
}
.item-container{
    padding: 3px;
}
.item-container:hover .minus-icon .hash-icon{
  display: block;
}
.padding-3{
    padding: 3px;
}
.right-13{
    right: 13px;
}
.top-8{
    top: 8px;
}
.arrow-icon{
    background: white;
}

.add-more-item{
    width: 6vw;
}
.margin-top-10{
    margin-top: 10px;
}
.remarks-field{
    padding-left: 4px;
}
/* /// */
.modal-wrapper-pc{
    width: 26%;
    border-radius: 4px;
    border: 1px solid #DFDFDF;
    background-color: white;
    box-shadow: 0 20px 75px rgba(0 0 0 /13%);
}
.main-modal-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: fixed;
    background: hsla(0,0%,100%,.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100vh;
}
.closeicon{
    width: 3%;
    top: 10px;
    right: 10px;
}
.label-text {
    font-size: 12px;
    font-weight: 400;
    color: #888888;
}
.ui.button.update-btn{
    width: 100%;
    border: 1px solid #3B5998;
    color: #3B5998;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 12px;
}
.ui.button.update-edit-btn{
    width: 100%;
    background-color: #3B5998;
    color: #ffffff;
    border-radius: 4px;
    padding: 12px;
}
.show-remarks{
    border: 1px solid #DFDFDF;
    background: #F0F0F0;
    min-height: 20vh;
    padding: 4px;
    border-radius: 4px;
}
.show-remarks-edit{
    border: 1px solid #DFDFDF;
    background: #F0F0F0;
    min-height: 20vh;
    width: 100%;
    padding: 4px;
    border-radius: 4px;
}
.padding-12{
    padding: 12px;
}
.date-field{
    width:10vw
}

/* // */
.updated-btn{
    background:#D9D9D9;
    /* border-right: 1px solid #a59595; */
    height: 6vh;
}
.modal-updated-yes-no-modal{
    width: 27%;
    border-radius: 4px;
    border: 1px solid #DFDFDF;
    background-color: white;
    box-shadow: 0 20px 75px rgba(0 0 0 /13%);
}