.items-tab-mobile {
    padding-bottom: 3%;
    font-size: 13px;
    font-weight: 500;
    color: #3B5998;
    cursor: pointer;
    border-bottom: 1px solid #3B5998 ;
}
.ghantt-tab-mobile {
    padding-bottom: 3%;
    cursor: pointer;
    color: #888888;
    font-size: 13px;
    font-weight: 400;
}
.timeline-area{
    height: 70vh;
}
.divider-bar{
    color: #DFDFDF;
    font-size: 20px;
}

.Yet-mobile{
    color: #888888;
    background: #F0F0F0;
}
.ACTIVE{
    color: #3B5998;
}
.PENDING{
    color: #BBB400;
}
.DELAYED{
    color: #D50000;
}
.COMPLETED{
    color: #2BA400;
}
.margin-top-15{
    margin-top: 15px;
}
.timeline-height-62{
    height: 62vh;
}
.submitbtn-mobile{
    width: 48%;
    color: #ffffff;
    padding: 9px 30px;
    font-size: 15px;
    border:none;
  }
.save-draft-btn-mobile{
    width: 48%;
    color: #3B5998;
    font-size: 15px;
    background-color: #ffffff;
    padding: 8px 25px;
    border: 1px solid #3B5998;
}
.main-modal-add-item-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: fixed;
    background: hsla(0,0%,100%,.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100vh;
}
.main-modal-add-update-item-mobile{
    display: flex;
    justify-content: center;
    margin: auto;
    position: fixed;
    background: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100vh;
}
.modal-wrapper-mobile{
    width: 100%;
    /* height: 100vh; */
    padding: 0%;
    background-color: white;
    box-shadow: 0 20px 75px rgba(0 0 0 /13%);
}
.modal-wrapper-add-item-mobile{
    width: 100%;
    height: 100vh;
    padding: 0%;
    background-color: white;
    box-shadow: 0 20px 75px rgba(0 0 0 /13%);
}

.close-icon-addItem{
    right: 10px;
    top: 5px;
}
.add-item-container{
    margin-left: 10px;
    margin-top: 30px;
}
.ui.button.submit-btn-updateitem{
    font-weight: 300;
    background: #3B5998;
    color: #ffffff;
    padding: 13px 32px;
    font-size: 14px;
    border-radius: 4px;
    width: 100%;
}
.ui.button.submit-btn-readitem{
    font-weight: 300;
    color: #3B5998;
    background: #ffffff;
    padding: 13px 32px;
    font-size: 14px;
    border: 1px solid #3B5998;
    border-radius: 4px;
    width: 100%;
}
.content.main-content{
    display: flex;
    flex-direction: column;
    height: 59vh;
    justify-content: space-around;
    margin: 10px;
}
.content.add-item-wrapper{
    display: flex;
    flex-direction: column;
    height: 82vh;
    justify-content: space-around;
    margin: 10px;
}
.content.main-content-update{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}
.down-arrow{
    background: white;
    right: 5px;
    top: 40px;
}
.margin-bottom-5{
    margin-bottom: 5px;
}
.margin-bottom-8{
    margin-bottom: 8%;
}
.minus-icon-wrapper{
    opacity: 1;
}
  .visiblity-none{
    opacity: 0;
}
.padding-left-5{
    padding-left: 5px;
}
.padding-left-10{
    padding-left: 10px;
}