.timeline-head {
    font-size: 17px;
    color: #000000;
}

.main-wrapper-mobile {
    margin: 0 10px;
    /* height: 88vh; */
}

.circle-icon-mobile {
    border-radius: 50%;
    width: 5rem;
    background-color: #F0f0f0;
}

.timeline-icon-mobile {
    width: 2rem;
    right: 20px;
    top: 30px;
}

.close-icon-mobile {
    top: 10px;
    right: 20px;
    width: 4vw;
}

.timeline-input {
    background: #FAFAFA;
    padding: 8px;
}

.main-modal-wrapper-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: fixed;
    background: #00000050;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100vh;
}

.modal-wrapper-create-timeline-mobile {
    width: 90%;
    border-radius: 4px;
    border: 1px solid #DFDFDF;
    padding: 12px;
    background-color: white;
    box-shadow: 0 20px 75px rgba(0 0 0 /13%);
}

.modal-wrapper-delete-timeline-mobile {
    width: 84%;
    border-radius: 4px;
    border: 1px solid #DFDFDF;
    padding: 20px;
    background-color: white;
    box-shadow: 0 20px 75px rgba(0 0 0 /13%);
}

.ui.button.submit-btn-mobile {
    font-weight: 300;
    background: #3B5998;
    color: #ffffff;
    padding: 8px 32px;
    font-size: 13px;
    border-radius: 4px;
    display: block;
    float: right;
    margin-left: auto;
    margin-right: 0;
    margin-top: 10px;
}

.notice-text-mobile {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}
.ui.button.yes-btn {
    border: 1px solid #3B5998;
    color: #888;
    font-size: 12px;
    background: #ffffff;
    border-radius: 4px;
}

.ui.button.no-btn {
    margin-left: 3%;
    font-weight: 300;
    border: 1px solid #3B5998;
    background: #3B5998;
    color: #ffffff;
    font-size: 12px;
    border-radius: 4px;
}

.drafts-tab {
    padding-bottom: 3%;
    font-size: 13px;
    font-weight: 500;
    color: #3B5998;
    cursor: pointer;
    border-bottom: 1px solid #3B5998;
}

.sents-tab {
    padding-bottom: 3%;
    cursor: pointer;
    color: #666666;
    font-size: 13px;
    font-weight: 500;
}

.timeline-empty-area {
    height: 70vh;
}
.timeline-empty-area {
    height: 75vh;
}

.divider-bar {
    color: #DFDFDF;
    font-size: 20px;
}
.margin-top-8{
    margin-left: 8px;
}
.margin-left-4 {
    margin-left: 4px;
}

.margin-left-5 {
    margin-left: 5%
}


.min-width-62 {
    min-width: 62%;
}

.color-text-666666 {
    color: #666666;
}

.status-name {
    padding: 2px 8px;
}
.timeline-field{
    padding: 5px;
}
